<div class="page-container">
  <h1 class="title">Employee Management</h1>

  <div class="form-card">
    <button class="btn-back" (click)="goBack()">⬅ Back</button>

    <h2 class="form-title">{{ isEdit ? "Edit Employee" : "Add Employee" }}</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <label>First Name</label>
      <input type="text" formControlName="firstName" />
      <p class="error" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid">
        First name is required
      </p>

      <!-- Last Name -->
      <label>Last Name</label>
      <input type="text" formControlName="lastName" />
      <p class="error" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid">
        Last name is required
      </p>

      <!-- Email -->
      <label>Email</label>
      <input type="email" formControlName="email" />
      <p class="error" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        Enter a valid email
      </p>

      <!-- Salary -->
      <label>Salary</label>
      <input type="number" formControlName="salary" />
      <p class="error" *ngIf="form.get('salary')?.touched && form.get('salary')?.invalid">
        Salary must be greater than 0
      </p>

      <div class="btn-row">
        <button class="btn primary" type="submit" [disabled]="form.invalid">
          {{ isEdit ? "Update" : "Create" }}
        </button>

        <button class="btn danger" type="button" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
</div>
